    .md-number-input.number-input {
        border: 2px solid #ddd;
        width: 11.8rem;
    }

    input{
        text-align:center;
    }

    .md-number-input.number-input button {
        outline: none;
        width: 3rem;
        height: 2rem;
        text-align:center;
        padding-top: .8rem;
    }

        .md-number-input.number-input button.minus {
            padding-left: 8px;
        }

        .md-number-input.number-input button.plus {
            padding-left: 2px;
        }

        .md-number-input.number-input button:before,
        .md-number-input.number-input button:after {
            width: 1rem;
            background-color: #212121;
        }

    .md-number-input.number-input input[type=number] {
        max-width: 5rem;
        padding: .5rem;
        border: solid #ddd;
        border-width: 0 2px;
        font-size: 2rem;
        height: 3rem;
        font-weight: bold;
        outline: none;
        text-align: center;
    }

  

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .number-input.md-number-input.safari_only button:before,
        .number-input.md-number-input.safari_only button:after {
            margin-top: -.6rem;
        }
    }
}
